@import '../../app.scss';

.parallaxContainer{
    background: rgb(255,255,255);
    background: linear-gradient(351deg, rgba(255,255,255,1) 30%, rgba(33,32,232,1) 100%);
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .backgroundOval { 
        position: absolute;
        z-index: 5;
        background-size: cover;


        @include mobile{
            display: none;
        }
    }

    .backgroundMain1 { 
        position: absolute;
        width: 100%;
        bottom: -800px;
        z-index: 2;
        background-size: cover;

        @include mobile{
            width: auto;
            height: 70%;
            background-size: contain;
        }
    }

    .backgroundMain2 { 
        position: absolute;
        width: 100%;
        bottom: -800px;
        z-index: 1;
        background-size: cover;

        @include mobile{
            width: auto;
            height: 100%;
            background-size: cover;
        }
    }

    .mount1 {
        position: absolute;
        width: 60%;
        bottom: 0;
        right: 0;
        z-index: 4;
    }

    .mount2 {
        position: absolute;
        width: 70%;
        bottom: 0;
        left: 0;
        z-index: 3;
    }

    .cloud1 {
        position: absolute;
        width: 30%;
        top: 40%;
        left: 20%;
        z-index: 4;

        @include mobile{
            top:60%;
            width: 60%;
        }
    }

    .cloud2 {
        position: absolute;
        width: 30%;
        top: 50%;
        left: 60%;
        z-index: 3;

        @include mobile{
            top:40%;
            width: 50%;
        }
    }
    .title{
        color: rgba(243, 248, 242, 0.5) ;
        position: absolute;
        width: 100%;
        top: 10vh;
        right: -120vw;
        font-size: 20vh;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: 'Anton', sans-serif;
        user-select: none;

        @include mobile{
            top: 20vh;
            right: -130vw;
        }
    }
}