.background {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../../images/starsBackground.png');
    background-size: cover;
}
.mountain {
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    width: 1500px;
    height: 1200px;
    background-image: url('../../images/mountain.png');
}