.main{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ff4f00 ;
    font-family: 'Anton', sans-serif;
    color: #f3f8f2;

    .title {
        
        position: absolute;
        top: 15%;
        left: 25%;
        font-size: 5vw;
    }
    .now {
        position: absolute;
        top: 20%;
        right: 22%;
        font-size: 15vw;
        color: #251351;
        text-transform: uppercase;
    }
     img {
        position: absolute;
        top: 40%;
        left: 35%;
        width: 3vw;
        
     }

    .sliderContainer{
        color: rgba(243, 248, 242, 0.05) ;
        position: absolute;
        width: 100%;
        bottom: -200px;
        font-size: 60vh;
        white-space: nowrap;
        font-family: 'Anton', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
    }
}