.skillsContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--violet);
    position: relative;

    .frontendContainer{
        width: 70vw;
        height: 80vh;
        background-color: var(--white);
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 4rem;

    }
}