@import '../../app.scss';

.appPreviewContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--violet);

    @include mobile{
        height: auto;   
    }


    .titleContainer{

        color: var(--white);
        font-size: 4rem;
        white-space: nowrap;

        @include mobile{
            padding-top: 30% ;
            width: 80%;
            font-size: 2rem;   
            white-space: normal;
            text-align: center;
        }

        > *{
            font-size: 6rem;
            color: var(--orange);
            white-space: nowrap;

            @include mobile{
                flex-wrap: wrap;
                font-size: 2.5rem;
                white-space: normal;
                
            }
        }

    }

    .infoContainer{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile{
            flex-direction: column;
            width: 80%;
            margin: 10% auto;
        }

        .textContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 35vw;

            @include mobile{
                flex-direction: column;
                width: 100%;
            }

            .text{
                
                text-justify: auto;
                font-size: 1.5rem;
                color: var(--white);
                text-align: justify;
                font-family: 'Roboto', sans-serif;
                border-bottom: 1px solid var(--white);

                @include mobile{
                    margin: 10% auto;
                }              
                
            }
        }

        .imgContainer{
            width: 40vw;
            height: 50vh;
            border-radius: 0.5rem;
            object-fit: cover;

            @include mobile{
                flex-direction: column;
                width: 100%;
                height: auto;
            }
        }
        
    }

    .linkContainer{
        text-align: center;
        width: 100%;
        font-size: 5vw;
        color: var(--white);

        > a {
            color: var(--orange);
        }

    }
    

    .specialText{
        color: var(--orange);
    }
}
