@import '../../app.scss';

.appPreviewContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--violet);


    .titleContainer{
        color: var(--white);
        font-size: 4rem;
        white-space: nowrap;

        > *{
            font-size: 6rem;
            color: var(--orange);
            white-space: nowrap;
        }

        


    }

    .infoContainer{
        width: 60vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .textContainer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 27vw;

            .text{
                
                text-justify: auto;
                font-size: 1.5rem;
                color: var(--white);
                text-align: justify;
                font-family: 'Roboto', sans-serif;
                border-bottom: 1px solid var(--white);
                
            }
        }

        .imgContainer{
            width: 30vw;
            height: 50vh;
            border-radius: 0.5rem;
            object-fit: cover;
        }
        
    }
    

    .specialText{
        color: var(--orange);
    }
}
