@import '../../app.scss';

.contactContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .mailAnimation{
        stroke: var(--orange);
        position: absolute;
        bottom: 10%;
       
    }
        
    .title{
        position: absolute;
        top:20%;
        font-size: 13vw;
        color: var(--white);

        @include mobile{
            top: 15%;
            left: 15%;
            font-size: 30vw;
        }
    }

    .detailsContainer{
       
        position: absolute;
        bottom: 15%;
        color: var(--white);
        font-size: 3vw;
        display: flex;
        flex-direction: column;

        @include mobile{
            font-size: 8vw;
        }
            
        & span:nth-child(1){
            color: var(--orange)
        }

        & span:nth-child(2){
            text-decoration: underline;
        }
    }
        
    
}