@import '../../app.scss';

.contactContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--violet);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .textContainer{
        width: 60vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include mobile{

            width: 100%;
            height: 80%;
            text-align: center;
            justify-content: space-around;
        }

        .title{
            width: 100%;
            height: 60%;
            font-size: 14vw;
            color: var(--white);

            @include mobile{
                margin-top: 10vw;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30vw;
            }
        }

        .detailsContainer{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--white);
            font-size: 3vw;

            @include mobile{
                font-size: 8vw;
            }
              
            & span:nth-child(1){
                color: var(--orange)
            }

            & span:nth-child(2){
                text-decoration: underline;
            }
        }
        
    }
}