* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: #235789;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    max-width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
}
#Parallax {
    height: 300vh;
}