:root{
    --white: #f3f8f2;
    --black: #020100;
    --orange: #ff4f00;
    --violet: #251351;
    --indigo: #a997df;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: #235789;
    
    
}
a {
    text-decoration: none;
    color: inherit;
}

section {   
    scroll-snap-align: center;
    overflow: hidden;
}

// .fonts {

//     //'Anton'
//     //'Climate Crisis
//font-family: 'Roboto', sans-serif;    

// }
